<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tambahProduk</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-input label="Nama produk" labelPlacement="stacked" placeholder="Masukkan Nama Produk" [(ngModel)]="new_name"
        (keyup)="cekValid()" required></ion-input>
    </ion-item>
    <ion-item *ngIf="err_name">
      <ion-label color="danger">{{ err_name }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-input label="Kategori" labelPlacement="stacked" placeholder="Contoh: Sembako"
        [(ngModel)]="new_category" (keyup)="cekValid()" required></ion-input>
    </ion-item>
    <ion-item *ngIf="err_category">
      <ion-label color="danger">{{ err_category }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-input type="number" label="Harga Beli" labelPlacement="stacked" placeholder="Masukkan Harga Beli"
        [(ngModel)]="new_buyPrice" (keyup)="cekValid()" required></ion-input>
    </ion-item>
    <ion-item *ngIf="err_buyPrice">
      <ion-label color="danger">{{ err_buyPrice }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-input type="number" label="Harga Jual" labelPlacement="stacked" placeholder="Masukkan Harga Jual"
        [(ngModel)]="new_sellPrice" (keyup)="cekValid()" required></ion-input>
    </ion-item>
    <ion-item *ngIf="err_sellPrice">
      <ion-label color="danger">{{ err_sellPrice }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-input type="number" label="Stok" labelPlacement="stacked" placeholder="Masukkan Stok" [(ngModel)]="new_stock"
        (keyup)="cekValid()" required></ion-input>
    </ion-item>
    <ion-item *ngIf="err_stock">
      <ion-label color="danger">{{ err_stock }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-input type="url" label="Produk Image URL" labelPlacement="stacked"
        placeholder="https://example.com/pasta.jpg" [(ngModel)]="new_imgurl" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-button id="btnsubmit" (click)="submitProduk()">Submit</ion-button>
    </ion-item>



  </ion-list>



</ion-content>