<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{products[index].name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{products[index].name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-img [src]="products[index].imgurl "></ion-img>
    </ion-item>
    <ion-item>
      Kategori: {{products[index].category}}
    </ion-item>
    <ion-item>
      Harga Jual: {{products[index].sellPrice}}
    </ion-item>
    <ion-item>
      Harga Beli: {{products[index].buyPrice}}
    </ion-item>
    <ion-item>
      Untung per item: {{products[index].sellPrice - products[index].buyPrice}}
    </ion-item>
    <ion-item>
      Stock: {{products[index].stock}}
    </ion-item>

    <ion-item>
      <ion-button [disabled]="products[index].stock == 0" (click)="tambahKeranjang()" color="">
        Tambah ke Keranjang
      </ion-button>
      <ion-button routerLink="/editproduk/{{ index }}">
        Edit Produk
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>